<div class="container">

  <div class="headImages">

    <nz-row style="margin-bottom: 1.5625rem;">
      <nz-col nzSpan="12" nzPush="2">
        <app-head-img></app-head-img>
        <img src="http://imgs.wantubizhi.com/upload/i_0/T1huMFdJZ3Y2V3VzVloxUEtCaExYZz09/605029614x2240337309_26_0.jpg" />
      </nz-col>
      <nz-col nzSpan="12" nzPush="3">
        <img src="http://imgs.wantubizhi.com/upload/i_1/T1huMFdJZ3Y2V3VzVloxUEtCaExYZz09/1533264708x1385022343_26_0.jpg" />
      </nz-col>
    </nz-row>

    <nz-row>
      <nz-col nzSpan="12" nzPush="2">
        <img src="http://imgs.wantubizhi.com/upload/i_2/T1huMFdJZ3Y2V3VzVloxUEtCaExYZz09/2723201346x3279619512_26_0.jpg" />
      </nz-col>
      <nz-col nzSpan="12" nzPush="3">
        <!-- <img src="http://imgs.wantubizhi.com/upload/i_1/T1huMFdJZ3Y2V3VzVloxUEtCaExYZz09/1604109836x3532046058_26_0.jpg" /> -->
        <!-- <nz-avatar nzText="U"></nz-avatar> -->
        <div class="empty">
        </div>
      </nz-col>
    </nz-row>
  </div>


</div>